# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
pyvenv.cfg
bin
lib

# PIP files
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# OS X file
.DS_Store

# projeto 1 ignored files
projeto1/filtered_lena*.png
