cycler==0.10.0
dask==2021.10.0
decorator==4.0.11
networkx==1.11
numpy==1.21.0
olefile==0.44
pillow>=6.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
scikit-image==0.12.3
scipy==0.18.1
six==1.10.0
toolz==0.8.2
